<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335712567992-nciidrjdg3eq6bvbiuh9h6kpf7fnge17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335712567992-nciidrjdg3eq6bvbiuh9h6kpf7fnge17</string>
	<key>API_KEY</key>
	<string>AIzaSyAwPH4osR6XiKTbawQRY8ff6rgI0i9aAN0</string>
	<key>GCM_SENDER_ID</key>
	<string>335712567992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.elp.testProject</string>
	<key>PROJECT_ID</key>
	<string>test-8853e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-8853e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335712567992:ios:f5af0c6f5cf6e45e0d6a4d</string>
	<key>DATABASE_URL</key>
	<string>https://test-8853e.firebaseio.com</string>
</dict>
</plist>